h1{
  padding-left: 50%;
  width: 90%;
}
h2{
  font-weight: 400;
}
.writing{
  display: flex;
  flex-direction: row;
  gap: 410px;
}
.f-row{
  display: flex;
  flex-direction: row;
  gap: 70px;
  width: 280%;
}
#f-checkbox{
  width: 30%;
  height: 40px;
  font-size: 20px;
}
#s-checkbox{
  width: 30%;
  height: 40px;
  font-size: 20px;
}
.t-checkbox{
  width: 180.7%;
  height: 40px;
  font-size: 20px;
}
button{
  width: 18%;
  height: 39px;
  background-color: #1e5edd;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}
.clear-btn{
  width: 16%;
  height: 39px;
  background-color: #1351cc;
  color: white;
}
.buttons{
  display: flex;
  gap: 10px;
}
.outer{
  position: absolute;
  top: 17%;
  padding-left: 24%;
  box-shadow: 0px 0px  11px  #a9a3a3;
  border-radius: 10%;
  height: 80%;
}
.outside{
  padding-left: 20%;
  width: 70%;
}
form{
  width: 85%;
 margin-left: -60%;
}
@media (max-width:991.98px){
  .outside{
    padding-left: 2%;
  }
  .outer{
    position: absolute;
    top: 13%;
    height: 63%;
    width: 72%;
    box-shadow: 0px 0px  21px  #a9a3a3;
  }
  form{
    font-size: small;
    width: 65%;
   margin-left: -32%;
  }
  h1{
    font-size: 20px;
    width: 510%;
  }
  .writing{
    gap: 230px
  }
  #f-checkbox{
    font-size: 16px;
    width: 30%;
    height: 34px;
  }
  #s-checkbox{
    font-size: 16px;
    width: 30%;
    height: 35px;
    margin-left: -3%;
  }
  .t-checkbox{
    font-size: 16px;
  }
  .buttons{
    width: 215%;
  }
}